{% extends 'base_admin.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>Admin Panel</h1>
            <p class="lead">
                Database Layers
            </p>
            <p>
                You can access to the layers from the top bar.
            </p>
            <p><br></p>
            <p><br></p>
            <p><br></p>
            <p><br></p>
            <p><br></p>
            <p><br></p>
            <p>
                <!-- a class="btn btn-default" >register</a> -->
                <!-- <a class="btn btn-primary" href="{{ url_for('home') }}" target="_blank"><i class="glyphicon glyphicon-chevron-left"></i> Back to Atlas</a> -->
            </p>
        </div>
    </div>
</div>
{% endblock body %}
